.bg-image {
  background-size: cover;
  background-position: center;
  > .container {
    text-shadow: 1px 1px black;
  }
}

.hoverable:hover {
  background-color: lightgrey;
  transition: all 0.5s;
}
